*{
  margin: 5px;
}

.header{
  text-align: center;
}

.container{
  margin: 20px auto;
  max-width: 400px;
  max-height: 500px;
  
}

.balance{
  text-align: center;
}

.balance h2 {
  font-size: 15px;
}

.balance h3 {
  font-size: 25px;
}

.incomeexpense{
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px black;
}
.incomeexpense h2 {
  font-size: 20px;
}
.transactionlist {
  text-align: center;
}

.transactionlist ul {
  list-style: none;
}

.transactionlist li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 2px black;
}

.transactionlist h2{
  font-size: 20px;
  text-align: center;
}

.addtransaction input{
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px black;  
}

.addtransaction label{
  font-weight: 500;
  display: inline-block;
}
